* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 0.625rem;
 }

#pets{
    width: 100%;
    height: calc(100% - 6.2rem);
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

#pets h1{
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    margin: 2.2rem auto 2.2rem auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pets-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute space between items */
  
}

.pet-card {
    width: 200px; /* Set a width for your cards */
    height: 200px; /* Set a height for your cards */
    margin: 10px; /* Adjust margin as needed */
    border: 1px solid #ccc; /* Add border or styling as needed */
    box-sizing: border-box; /* Include padding and border in the total width/height */
}

.pet-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

